.card {
    background: #fff;
    border-radius: 2px;
    height: 150px;
    overflow: hidden;
    margin: 1rem;
    position: relative;
    float: left;
    width: 150px;
    box-shadow: 0 3px 6px #999, 0 3px 6px #999;
}